*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  overflow-x: hidden;
}
header{
   width: 100%;
   background-size: cover;
   background-position: center center;
   overflow: hidden;
    background-color: #1A0B2E;
}
.logo {
  max-width: 219px;
 margin: 0 319px 0 200px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  gap: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.logo h1{
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-icon{
  display: none;
}
nav{
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border-bottom: 1px solid #412567;
}
.menu{
    display: flex;
}
.menu .item{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-right: 314px;
    margin-left: 320px;
}
nav .menu li{
    position: relative;
    right: 255px;
    
}
nav .menu  a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #FFFF;
}
.subscribe-btn {
    position: relative;
    right: 200px;
    width: 135px;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    padding: 1px;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}
.subscribe-btn span {
  display: flex;
  padding: 14px;
  color: #ffff;
  border-radius: 1000px;
  font-size: 15px;
  font-weight: semi bold;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  background-clip: text;
 
}
.subscribe-btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}


/* hero */

.hero-container{
  max-width: 1600px;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  

}
.mouth-icon {
  position: relative;
  top: 22px;
  margin-bottom: px;
}
.mic-wrapper {
  position: relative;
  width: 340px;
  bottom: px;
  top: 1px;
}
.mic-bg {
  width: 100%;
  display: block;
}
.mic-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #00ff9c;
  color: #000;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
}
.mic-wrapper {
  transition: transform 0.3s ease;
}

.mic-wrapper {
  transition: transform 0.3s ease;
}

.mic-wrapper:hover {
  transform: scale(1.05);
}
.badge {
  animation: pulse 1.6s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 200, 120, 0.6);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(0, 200, 120, 0);
  }
  100% {
    transform: scale(1);
  }
}
.main-text{
  max-width: 550px;
  gap: 24px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}
.main-text h2{
  max-width: 550px;
  gap: 8px;
  font-size: 60px;
  font-weight: extra bold;
  line-height: auto;

}
.main-text .hero-p{
  max-width: 550px;
  font-size: 16px;
  margin-top:8px ;
  margin-bottom: 40px;
  color: #fff;
  opacity: 80%;
}
.buttons {
  margin-top: 5px;
  display: flex;
  gap: 18px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
}
.btn img {
  width: 18px;
  height: 18px;
}
.btn button {
  background: none;
  border: none;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
/* Spotify button */
.spotify {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  color: #fff;
}
.spotify:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}



/* Subscribe button */
.subscribe {
  border: 1.5px solid #00ffcc;
  color: #00ffcc;
}

.subscribe:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  background: #412567;
  color: #000;
}
.hero-main{
  width: 1600px;
  position: relative;
  top: px;
  gap: 80px;
  background-color: #1A0B2E;
   padding: 50px 200px 120px 200px;
}
.text-container{
  max-width: 1600px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-container h3{
  max-width: 1200px;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
  
}
.text-container p{
  max-width: 1200px;
  opacity: 80%;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  
}
.dag{
  border: 1px solid #412567;
  margin: 80px 80px;
}
.box-container{
  display: grid;
  display: flex;
  max-width: 1200px;
  gap: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.box-container .box{
  
  max-width: 240px;
  gap: 16px;
}
.box-container h2{
  font-size: 48px;
  color: #00FF88;
}
.box-container .box p{
  max-width: 240px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  opacity: 80%;
}

.card-section{
  max-width: 1600px;
  gap: 40px;
  padding: 200px;
  background-color: #230E3D;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-section .card-m{
  max-width: 1200px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;

}
.card-container{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  text-align: left;
  cursor: pointer;
}
.card-container .card{
  cursor: pointer;
}
.card-container .card:hover{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: 0.3s ease;
}
#big-laout{
  grid-row: span 2;
}
#small-laout{
  grid-column: span 2;
}
.card-container .img1{
  max-width: 60px;
  margin: 107px 280px 16px 5px;

}
.card-container .card .img1 .card-big{
  max-width: 300px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;

  
}
p{
 max-width: 300px;
 font-size: 16px;
 line-height: 24px;
 opacity: 60%;
 margin-top: 16px;
  
}
.long{
  max-width: 710px;
  font-size: 16px;
  line-height: 24px;
  opacity: 60%;
}
.big-long{
  max-width: 790px;

}
.small-item{
  max-width: 380px;
}
.card-container .card{
    max-width: px;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.5);
    color: #fff;
    cursor: pointer;
}
.future-section{
  max-width: 1600px;
  gap: 120px;
  background-color: #1A0B2E;
}
.fu{
  position: relative;
  top: 60px;
  left: 140px;
  max-width: 1200px;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.future-container{
  display: flex;
  max-width: 1200px;
  gap: 40px;
  margin: 120px 200px 120px 200px;
  text-align: left;
}
.use-border{
  position: relative;
  bottom: 10px;
  background-color: #250D44;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 24px;
  height: 300px;
}
.future-container .main-img{
  width: 100%;
}
.future-container h3{
  max-width: 332px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 24px 24px 12px 24px;
}
.future-container p{
  max-width: 332px;
  font-size: 16px;
  line-height: 24px;
  opacity: 60%;
  color: #fff;
  margin: 12px 24px 12px 24px;
}
.future-container .clock img{
  width: 20px;
  height: 20px;
  margin: 14px 0px 26px 24px;
}
.future-container .clock p{
  max-width: 53px;
  font-size: 16px;
  font-weight: semi bold;
  line-height: 24px;
  color: #00FF88;
  margin-left: 6px;
}
.future-container .clock{
  display: flex;
}
.about-section{
  padding: 120px 200px 120px 200px;
}
.about-section h2{
  position: relative;
  left: 22px;
  max-width: 1200px;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 140px;
 text-align: center;
 align-items: center;
 justify-content: center;
}
.about-container{
  display: flex;
  max-width: 1200px;
  height: 280px;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;

}
.about-container .host{
  position: relative;
  right:-20px;
  width: 200px;
  height: 200px;
}
.about-container .about-content{
  max-width: 896px;
  gap: 16px;
  margin: 48px 40px 48px 24px;
  text-align: left;
}
 .host-name{
  position: relative;
  top: 60px;
  right: 380px;
  text-align: left;
  
  
 
  
}
.host-name h2{
  max-width: 896px;
  font-size: 32px;
   font-weight: bold;
}
.about-container .about-content p{
  position: relative;
  bottom: 70px;
  max-width: 896px ;
  font-size: 16px;
  line-height: 24px;
  opacity: 60%;
  color: #fff;
  margin-bottom: 40px;
}
.socials {
  position: relative;
  bottom: 90px;
  margin-top: 28px;
  display: flex;
  gap: 14px;
}
.icon-box {
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 14px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}
.footer-section{
  
  max-width: 1600px;
  height: 412px;
  background: url(./assets/footer-bg.png);
}
.footer-section .footer-container{
  width: 1380PX;
  height: 172PX;
  position: relative;
  top: 110px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
   margin: 0px 120px 120px 120px;
}
.font-section h1{
  position: relative;
  left: 450px;
  max-width: 410px;
   font-size: 60px;
   color:#fff;
}
.socials-2{
  position: relative;
  top:-20px;
  left: 400px;
  max-width: 544px;
  display: flex;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.social-item {
  display: inline-flex;
  align-items: center;
}
.social-item img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.social-item p {
  display: flex;
  margin-top: 8px;
  font-size: 15px;
  color: #fff;
}
 .footer-section .footer-p{
  position: relative;
  left: 660px;
  bottom: 20px;
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}










@media screen and (max-width:576px){
  header{
    background-size: cover;
    background-position: center center;
     max-width: 450px;
     width: 100%;
     margin: 0;
     overflow: hidden;
  }
 
  nav{
    display: flex;
    max-width: 576px;
    width: 100%;
    margin-left: 0;
  }
  .logo{
    max-width: 137px;
    width: 100%;
    font-size: 13px;
    margin-right:180px;
     margin-left:0;
     align-items: normal;
  }
  .menu-icon{
    display: block;
    position: absolute;
    right: 19px;
    
  }
  .menu{
    display: none;
}
.hero-container{
  display: flex;
  width: 440px;
  width: 100%;
}
.mic-wrapper {
  position: relative;
  bottom: px;
  bottom: 420px;
  top: -255px;
  font-size: 10px;
    width: 100px;
    

  }
  .mic-bg{
    width: 100%;
  }

  .mic-icon {
    width: 35px;
    font-size: 10px;
  }
  .badge{
    position: absolute;
    top: -1px;
    right: -9px;
    font-size: 7px;
    font-size: 3px;
  }

  .hero-container{
    width: 100%;
    min-height: 100vh;         
    background-size: contain;  
    background-position: top center;
    background-repeat: no-repeat;
    padding: 40px 16px;        
  }
  .main-text{
    position: relative;
    bottom: 272px;
    max-width: 400px;
    gap: 8px;
  }
  .main-text h2{
    position: relative;
    bottom:4px;
    font-size: 10px;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    gap: 0;

  }
  .main-text .hero-p{
    position: relative;
    bottom: 25px;
    max-width: 120px;
    width: 100%;
    font-size: 3px;
    margin-bottom:30px ;
    margin-top: 0px;
    gap: 0;
  }
  .buttons{
    position: relative;
    bottom: 330px;
    font-size: px;
  }
  .btn{
    font-size: px;
     gap: 2px;
     padding: 4px;
     border-radius: 9px;
  }
  .btn img {
  width: 7px;
  height: 8px;
}
.btn button {
  position: relative;
  background: none;
  border: none;
  color: inherit;
  font-size: 6px;
  font-weight: 450px;
  cursor: pointer;
  font-size: 4px;
}
.hero-main{
   margin-bottom: 3000px;
   max-width: 450px;
}
.hero-container{
  width: 100%;
  max-width: 100%;
  font-size: 10px;
 
}
.text-container h3{
  position: relative;
  right: 50px;
  width: 400px;
  text-align: left;
  font-size: 10px;
  font-size: -100px;
  font-weight: bold;
}
.text-container p{
  position: relative;
  text-align: left;
  right: 54px;
  width: 400px;
  font-size: 5px;
  line-height: 10px;
}
.he{
  position: relative;
  bottom: 60px;
}
.box-container{
  max-width: 400px;
  gap: 40px;

}
.box-container .box{
  width: 180px;
  grid-template-columns: repeat(2,1fr);
  font-size: 5px;
}
.box-container .box h2{
  max-width: 180px;
  font-size: 20px;
}
.box-container .box p{
  max-width: 180px;
  height: 20px;
  font-size: 10px;
  line-height: 15px;
}
.card-section{
  width: 100%;
  margin-bottom: 573px;
  max-width: 449px;
  gap: 16px;
  padding: 20px;
}
.card-section .card-m{
  max-width: 440px;
  font-weight: bold;
  font-size: 10px;
}
.card-container{
  width: 400px;
  grid-template-columns: repeat(1,1fr);
  font-size: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.card-container #big-laout{
  grid-row: span 0;
  margin-top: 0;
}
.card-container #small-laout{
  grid-column: span 0;
}
.card-container{
  width: 400px;
  font-size: 10px;
  size: -100px;
  padding: 0px;
}
.card-container img{
  width: 30px;
}
.card-container p{
  font-size: 8px;
  line-height: 10px;
}
.card-container .card{
  position: relative;
  top: 0;
  bottom: 200px;
  gap: 0;
  margin: 0;
  padding: 25px;
  max-width: 400px;
  width: 360px;

}
.card-container .img1{
  max-width: 60px;
  margin: 0;

}
.future-section{
  max-width: 450px;
  margin-bottom: 573px;
  gap: 50px;
  padding: 20px;
}
 #tt{
  display: inline-block;
  width: 400px;
  font-size: 10px;
  text-align: left;
}
.future-container{
  display: inline-block;
  max-width: 400px;

}
.future-container .box{
  position: relative;
  right: 120px;
  display: block;
  padding: 0px;
  width: 270px;
}
.future-container .box h3{
  position: relative;
  bottom:30px;
  width: 368px;
  font-size: 8px;
}
.future-container .box p{
  position: relative;
  bottom: 40px;
  max-width: 200px;
  font-size: 6px;
  line-break: 600px;

}
.into{
  position: relative;
  bottom: 40px;
  max-width: 10px;
  height: 1px;
  font-size: 2px;
}
.about-section{
  padding: 0;
}
.about-section h2{
  position: relative;
  font-size: 20px;
}
.about-container{
  position: relative;
  display: inline-block;
   max-width: 400px;
   height: 483px;
   padding: 24px;
   gap: 16px;
}
.host{
  width: 150px;
  height: 150px;
}
.about-container p{
  position: relative;
  bottom: 200px;
  top: -210px;
  left: 30px;
  max-width: 352px;
  font-size: 7px;
  
  line-height: 20px;
}
.about-container .socials{
  position: relative;
  bottom: 240px;
  left: 70px;
  max-width: 180px;
}
.icon-box {
  
  border-radius: 14px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}
.footer-section{
  margin-bottom: 573px;
  max-width: 450px;
  width: 100%;
  background-size: 500px;
  background-repeat: no-repeat;
}
.footer-container{
  position: relative;
  right: 500px;
}
.font-section h1{
  position: relative;
  bottom: 70px;
  text-align: center;
  margin-left: 65px;
  max-width: 219px;
  font-size: 20px;
}
.socials-2{
  position: relative;
  bottom: 600px;
  max-width: 200;
  font-size: px;
}
 .socials-2 img{
  width: 12px;
  height: auto;
  background-size: -100px;
  size: 200px;
  font-size: 1px;

}
.socials-2 p{
  position: relative;
  bottom: 100px;
  font-size: 10px;
  gap: 0px;
}
.socials-2 img{
  position: relative;
  bottom: 80px;
  gap: 0px;
  margin: 0;
  padding: 0;

}


}
